@import "fonts", "null", "vars", "mixins";

body, * {
  font-family: $primary;
  font-weight: 600;
  font-size: 16px;
}

.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  height: 100%;
}

.page {
  flex: 1 1 auto;
  min-width: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.orange {
  font-size: inherit;
  color: $orange;
}

.title {
  font-size: 48px;
  line-height: calc(67.2 / 48 * 100%);
  font-weight: 600;
  color: $grey;
}

.text {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: $grey;
  font-weight: 400;
}

.btn {
  padding: 14px 43px;
  background-color: $orange;
  color: $white;
  border-radius: 100px;
  border: 2px solid $orange;
  transition: all 0.3s ease;
  &:hover {
    color: $orange;
    background-color: $white;
  }
}

.header {
  transition: all 0.7s ease;
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 200;
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 10px;
  }

  &__logo {
    max-width: 130px;
  }

  &-moving {
    padding: 5px 0;
    background-color: $paleOrange;
  }
  // &__menu {}
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 56px;
  &__item {
    color: $grey;
    font-weight: 500;
    line-height: 130%;
    @include hoverFontWeight($orange, 700)
  }
}

.burger {
  display: none;
  width: 40px;
  height: 25px;
  z-index: 300;
  position: relative;

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $grey;
    transition-duration: 0.3s;
  }

  *:nth-child(1) {top: 0;}
  *:nth-child(2) {top: 11px;}
  *:nth-child(3) {bottom: 0;}

  span:last-child {
    margin: 0;
  }

  &.active {
    *:nth-child(1) {
      transform: rotate(45deg);
      top: 11px;
    }

    *:nth-child(2) {
      display: none;
    }

    *:nth-child(3) {
      transform: rotate(-45deg);
      bottom: 11px;
    }
  }
}

.intro {
  margin-top: 168px;
  &::before {
    content: '';
    width: 45%;
    height: 520px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $orange;
    border-bottom-left-radius: 50%; 
    z-index: -1;
    filter: blur(300px)
  }

  &__inner {
    display: flex;
  }

  &__content {
    flex: 1 0 590px;
    gap: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__label {
    padding: 16px;
    font-size: 16px;
    line-height: 130%;
    color: $orange;
    border-radius: 100px;
    background-color: $paleOrange;
  }

  &__title {
    color: $grey;
    // font-size: 72px;
    font-size: clamp(50px, 6vw, 72px);
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1.44px;
  }

  &__description {
    color: $lightGrey;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.4px;
  }

  &__btn {
    padding: 23px 46px;
    margin-bottom: 58px;
  }

  &__statistic {
    display: flex;
    gap: 52px;
    & > * {
      color: $lightGrey;
      font-weight: 500;
      line-height: 160%;
      span {
        display: block;
        color: $grey;
        font-size: 24px;
        line-height: 160%;
      }
    }
  }

  // &__customer {}

  // &__delivery {}

  // &__ratings {}

  &__img {
    flex: 0 1 auto;
    img {
      max-width: 100%;
    }
  }
}

.choose {
  margin-top: 130px;
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 64px;
  }

  &__title {
    max-width: 586px;
  }

  &__description {
    max-width: 450px;
    color: $lightGrey;
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: -0.4px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 363px));
    justify-content: space-evenly;
    gap: 30px;
  }
}

.card-choose {
  border-radius: 50px;
  border: 1px solid $paleOrange;
  padding: 30px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.20);
  }

  &:hover &__btn {
    border-color: $orange;
    background-color: $orange;
    color: $white;
  }

  &__icon {
    margin-bottom: 70px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: $paleOrange;
    display: grid;
    place-items: center;
    img {
      max-width: 100%;
    }
  }

  &__title {
    display: block;
    color: $black;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: -0.48px;
    margin-bottom: 12px;
  }

  &__description {
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.32px;
    margin-bottom: 34px;
  }

  &__btn {
    padding: 10px 24px;
    border-color: transparent;
    display: inline-flex;
    align-items: center;
    color: $black;
    background-color: transparent;
    color: var(--575757, #575757);
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.32px;
    span {
      position: relative;
      top: 2px;
      font-size: 20px;
      margin-left: 10px;
    }
  }
}

.slider {
  background: linear-gradient(180deg, #FFF6EA 0%, rgba(255, 232, 199, 0.50) 100%);
  padding-top: 138px;
  padding-bottom: 120px;
  margin-top: 100px;
  .swiper {
    &-slide {
      width: auto;
    }
  }

  &__inner {
    display: flex;
  }

  &__content {
    flex: 0 0 415px;
    margin-right: 40px;
  }

  &__title {
    color: #333;
    margin-bottom: 30px;
  }

  &__description {
    color: #999;
    margin-bottom: 32px;
  }

  &__number {
    color: #ccc;
    font-weight: 700;
    line-height: calc(22 / 16 * 100%);
    margin-bottom: 24px;
    #currentSlide {
      font-size: 48px;
      font-weight: 700;
      line-height: calc(64 / 48 * 100%);
      color: #333;
    }
  }

  &__btns {
    display: flex;
    & > button {
      width: 56px;
      height: 56px;
      display: grid;
      place-items: center;
      background: #FFC87A;
      transition: all 0.3s ease;
      border-radius: 10px;
      span {
        font-size: 24px;
        color: $white;
      }
      &:hover {
        background-color: $orange;
      }
      &:not(:last-child){
        margin-right: 24px;
      }
    }

    #prev {span {transform: translateY(-2px) rotate(180deg);}}
    #next {span {transform: translateY(2px);}}
  }

  &__slider {
    padding-top: 40px;
  }
}

.slide {
  background-color: $white;
  padding: 0 24px 32px;
  border-radius: 8px;
  max-width: 269px;
  &__icon {
    transform: translateY(-40px);
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    color: $black;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    margin-bottom: 8px;
  }

  &__age {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 19px;
  }

  // &__comment {}
}

@import "media";