//colors
$white: #fff;
$black: #2B2B2B;
$grey: #575757;
$orange: #FB9333;
$paleOrange: #FFF0DC;
$lightGrey: #828282;

//width
$maxWidth: 1440;
$containerWidth: 1170;

// fonts
$root-font-size: 16;
$primary: Poppins;